<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.madforgolf.mapper.dealMapper">

	
<!-- 	<insert id="insertDeal">
		insert into mfg_deal(seller_id, buyer_id, prod_num, price, state) 
		values(#{seller_id}, #{buyer_id}, #{prod_num}, #{price}, #{state})
	</insert>
	
	<select id="getDeal">
		select (*) 
		from mfg_deal 
		where buyer_id = #{buyer_id} 
		and state = "거래중"
	</select>
	
	
	<delete id="deleteDeal">
		delete from mfg_deal
		where deal_num=#{deal_num}
	</delete> -->
	
	
	<insert id="insertDeal">
		insert into mfg_deal(seller_id, price, state) 
		values(#{seller_id}, #{price}, #{state})
	</insert>
	
	<update id="updateDeal">
		update mfg_deal 
		set buyer_id = #{buyer_id},state = "거래중" 
		where deal_num = #{deal_num}
	</update>
	
	<update id="addProd_num">
		update mfg_deal 
		set prod_num = #{prod_num}  
		where deal_num = #{prod_num}
	</update>
	
	
	<update id="deleteBuyer">
		update mfg_deal 
		set buyer_id = null  
		where deal_num = #{deal_num}
	</update>
	
</mapper>